force-app/main/default/flows/PurchaseCalculateTotals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <assignments>
        <name>Add_Line_To_Totals</name>
        <label>Add Line To Totals</label>
        <locationX>300</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTotalItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Purchase_Line.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrandTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Line_Total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Purchase_Lines</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Purchase Calculate Totals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Calculate Totals</label>
    <formulas>
        <name>Current_Line_Total</name>
        <dataType>Number</dataType>
        <expression>{!Current_Purchase_Line.Amount__c} * {!Current_Purchase_Line.UnitCost__c}</expression>
        <scale>2</scale>
    </formulas>
    <loops>
        <name>Loop_Through_Purchase_Lines</name>
        <label>Loop Through Purchase Lines</label>
        <locationX>300</locationX>
        <locationY>240</locationY>
        <assignNextValueToReference>Current_Purchase_Line</assignNextValueToReference>
        <collectionReference>Get_Purchase_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Line_To_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Purchase_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Purchase_Lines</name>
        <label>Get Purchase Lines</label>
        <locationX>300</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Purchase_Lines</targetReference>
        </connector>
        <filters>
            <field>PurchaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchaseId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Totals</name>
        <label>Update Purchase Totals</label>
        <locationX>300</locationX>
        <locationY>460</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchaseId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalItems__c</field>
            <value>
                <elementReference>varTotalItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrandTotal__c</field>
            <value>
                <elementReference>varGrandTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Purchase_Lines</targetReference>
        </connector>
        <object>PurchaseLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Purchase_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseLine__c</objectType>
    </variables>
    <variables>
        <name>varGrandTotal</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalItems</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
